*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: url(img/neon.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-container{
    position: relative;
    padding: 50px 30px;
    width: 400px;
    height: fit-content;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 5px solid white;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 20px #5b548a, 0 0 50px #5b548a,  0 0 100px #5b548a;
}
.search-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: none;
}
.search-input{
    width: 60%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    border-radius: 2px;
    color: white;
    padding-left: 30px;
    font-size: 15px;
}
.search-input::placeholder{
    color: white;
    font-size: 15px;
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: transparent;
    backdrop-filter: blur(10px);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(210, 93, 233) 10.8%,
      rgb(213, 88, 238) 94.3%
    );
    transition: all 0.475s;
  }
  

.weather{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.col{
    justify-content: center;
    align-items: center;
    display: flex;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
